body {
    background-color:lavender;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color:beige;
}
/* Andrea Estefanía Vázquez Santos */
p {

        font-size: 18px;
        color:cornflowerblue;
}
